<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
		  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="main.pc.member.vo.MemberVO" alias="membervo"/>
		<typeAlias type="main.pc.login.vo.IdFindVO" alias="idfindvo"/>
		<typeAlias type="main.pc.login.vo.PwFindVO" alias="pwfindvo"/>
		
		
		<typeAlias type="main.pc.fair.vo.FairVO" alias="fairvo"/>
		<typeAlias type="main.pc.reply.vo.ReplyVO" alias="replyvo"/>
		<typeAlias type="main.pc.like.vo.LikeVO" alias="likevo"/>
		<typeAlias type="main.pc.product.vo.ProductVO" alias="productvo"/>
		<typeAlias type="main.pc.cart.vo.CartVO" alias="cartvo"/>
		<typeAlias type="main.pc.order.vo.OrderVO" alias="ordervo"/>
		<typeAlias type="main.pc.calendar.vo.CalendarVO" alias="calendarVO"/>	
		<typeAlias type="main.pc.map.vo.MapVO" alias="mapvo"/>			
		<typeAlias type="main.pc.communities.vo.CommunitiesVO" alias="communitiesvo"/>
		
		<typeAlias type="main.pc.notice.vo.NoticeVO" alias="noticevo"/>
	</typeAliases>
</configuration>